<% @workouts.each do |workout| %>
  <p class="workout-date"><%= link_to workout.created_at.strftime("%B %d, %Y"), workout %></p>
  <span class="area-worked-out">Workout:</span> <span class="workout"><%= workout.area_worked_out %></span>
<% end %>
